@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

/*                  ---This is the CSS Reset---                               */
body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: white;
    color: black;
    padding: 20px;
}

section {
    width: 100%;
    overflow-y: auto;
    min-height: 1000px;
    margin-top: 150px;
}


a {
    color: white;
}

header {
    position: fixed;
}

.entry {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 1200px;
    font-size: 16px;
    margin: 40px; /* space between panels */
    background-color: #FFC300;
    color: white;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

    .post iframe {
        margin: 20px 0;
        border-radius: 12px;
    }

.highlights-title {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 50;
    font-size: 4rem;
}

.title, .xp {
    font-size: 5rem;
    margin-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 50;
}
.info, .info-link {
    font-size: 3rem;
}
strong {
    color: #FFF8DC;
    font-weight: bold;
    font-size: 2.5rem;
    text-shadow: 0 0 8px rgba(255,255,255,0.5);
}

.info, .info-link:hover {
    font-size: 4rem;
    color: black;
    transition: 0.5s ease;
}
